{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <form action="{{ path('tasks_index') }}">
        <input type="submit" value="Back to the lists />
    </form>
{% endblock %}
